@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 40rem;
  height: 100%;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 1224px) {
  .container {
    width: calc(100% - 6rem);
  }
}

.logo-wrap {
  margin: 4em auto 1.5em;
}

@media screen and (max-width: 1224px) {
  .logo-wrap {
    margin: 8.5em auto 3em !important;
  }
}

.title {
  margin-bottom: .5rem;
  font-size: 3rem;
  font-weight: 300;
  color: #969696;
}

.title * {
  font-weight: 700;
  color: #151f29;
}

@media screen and (max-width: 1224px) {
  .title {
    margin-bottom: 2rem !important;
  }
}

.subscribe {
  margin: 2em auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1224px) {
  .subscribe {
    margin: 3.5em 2rem !important;
    flex-direction: column;
  }
}

.subscribe * {
  height: 3.5rem;
  border-radius: 3rem;
}

@media screen and (max-width: 1224px) {
  .subscribe * {
    height: 5rem !important;
  }
}

.subscribe .email-input {
  width: 65%;
  border: 0.5px solid #c2d3ff;
  padding-left: 2rem;
  font-size: .9em;
}

@media screen and (max-width: 1224px) {
  .subscribe .email-input {
    width: 100% !important;
  }
}

.subscribe ::placeholder {
  color: #969696;
}

.subscribe .email-button {
  background: #4f7df3;
  color: white;
  width: 32%;
  cursor: pointer;
  font-size: .9em;
  font-weight: 600;
  border: none;
  box-shadow: 1px 5px 10px -5px #4f7df3;
  transition: 1s;
}

.subscribe .email-button:hover {
  opacity: .7;
}

@media screen and (max-width: 1224px) {
  .subscribe .email-button {
    width: 100% !important;
    margin-top: 1rem;
  }
}

.subscribe .allert {
  color: #ff5263;
  transform: translateY(4rem) translateX(2rem);
  font-size: .8rem;
  position: absolute;
}

@media screen and (max-width: 1224px) {
  .subscribe .allert {
    position: relative;
    height: 4rem !important;
    padding: 2rem;
    transform: translateX(0) translateY(0);
    display: none;
  }
}

.box-images {
  width: 100%;
  position: relative;
  margin: 5rem auto 4rem;
}

.box-images .illustration-dasboard {
  width: 100%;
}

@media screen and (max-width: 1224px) {
  .box-images {
    margin: 10rem auto 15rem !important;
  }
}

.share {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1224px) {
  .share {
    margin: 5rem !important;
  }
}

.share a {
  margin: auto .5rem;
  width: 32px;
  height: 32px;
  border: 1px solid #4f7df3;
  border-radius: 50%;
  display: flex;
  transition: 1s;
}

.share a:hover {
  background: #4f7df3;
}

.share a:hover > * {
  fill: white;
}

.share svg {
  fill: #4f7df3;
  margin: auto;
}

.copyright {
  margin: 1rem;
  font-size: .6em;
  color: #969696;
}
/*# sourceMappingURL=main.css.map */